nav {
  position: fixed;
  top: 0;
  margin: 50px;
}

nav ul {
  margin: 0;
}

nav a {
  text-decoration: none;
}

nav li {
  font-size: 14px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 12px;
}

nav > ul > li:first-child {
  font-weight: bold;
}

nav ul ul li {
  color: rgba(0, 0, 0, 0.4);
  margin-left: 10px;
}

blockquote p {
  margin-left: 400px;
}

nav ul ul ul li {
  font-style: italic;
}

article ul li {
  list-style: disc;
}

article ol li {
  list-style: decimal;
  width: 680px;
  margin-left: 20px;
}
