body {
  background-image: url("Wikimedium-Post.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

h1, h2, h3, h4, p, ol, ul, blockquote {
  width: 700px;
  margin: auto;
  color: red;
}

img {
  width: 1020px;
  margin: auto;
  display: block;
}

h1, h2, h3, h4 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

p {
font-family: 'PT Sans', sans-serif;
font-size: 22px;
line-height: 34px;
margin-top: 30px;
}

h1 {
  font-size: 40px;
  line-height: 46px;
  margin-top: 63px;
}

h1 + p {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 16px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
}

img + h2 {
  margin-top: 158px;
}

h2 + p {
  margin-top: 9px;
  width: 701px;
}

p + h2 {
  margin-top: 41px;
}

h3 {
  font-size: 28px;
  line-height: 34px;
}

p + h3 {
  margin-top: 33px;
}

h3 + p {
  margin-top: 7px;
  width: 701px;
}

blockquote {
  font-family: PT Sans;
  font-style: italic;
  font-size: 22px;
  line-height: 34px;
}

p + blockquote {
  margin-top: 27px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

p + h4 {
  margin-top: 35px;
}

h4 + p {
  margin-top: 7px;
  width: 701px;
}

ul {
  font-family: PT Sans;
  font-size: 22px;
  line-height: 34px;
}

li + li {
  margin-top: 16px;
}

p + ul {
  margin-top: 30px;
  width: 665px;
}

ul + p {
  margin-top: 31px;
}

blockquote + h2 {
  margin-top: 41px;
}


h2 + h3 {
  margin-top: 41px;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

h1 + img {
  margin-top: 30px;
}

h3 + h4 {
  margin-top: 26px;
}

h2 + ul {
  margin-top: 9px;
}

ul + h2 {
  margin-top: 30px;
}
