nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 300px;
  margin: 50px 0 0 20px;;
  padding: 14px 30px 27px;

  opacity: 0.5;
  transition: all 0.3s ease;
}

nav:hover {
  opacity: 1;
}

nav ul {
  margin: 0;
}

nav a {
  text-decoration: none;
}

nav li {
  margin-top: 12px;
  font-size: 14px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.8);
}

nav > ul > li:first-child {
  font-weight: bold;
}

nav ul ul li {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.4);
}


nav ul ul ul li {
  font-style: italic;
}

@media (max-width: 1340px) {
  nav {
    display: none;
  }
}
